
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/resets.css")" rel="stylesheet">
<hr class="featurette-divider">
<div class="text-center">
    <img src="~/img/Monitoramento-NOC-S3.png" class="img-fluid" alt="Responsive image">

    <div class="row featurette">
        <div class="col-md-17">
            <h2 class="featurette-heading"><span class="text-muted"></span></h2>
           <p class="lead">Versão atual do software: v1.1.34</p>
            @*<a href="https://www.google.com/search?q=wwqqw&ie=utf-8&oe=utf-8&client=firefox-b-ab" download type="button" class="btn btn-primary btn-lg xdxd">Download</a>*@
            <button type="button" class="btn btn-primary btn-lg">Download</button>
        </div>
        <div class="col-md-5">
                

        </div>
    </div>
</div>

